---
---

@import "{{ site.theme }}";
body{
      background-color: #f1f1f1;
}
.head, .footer{
    height: 30px;
    margin-bottom: -20px;
}
header a{
      color: #21769d;
    font-size: 20px;
    font-weight: bold;
}
.modal .modal-body a{
   font-size: 14px;
}
.navbar-default{
      padding: 0;
}
.breadcrumb {
    border-radius: 0;
      background-color: #fff;
}
.navbar-header{
   display: block;
    width: 100%;
}
.navbar-brand img{
    margin: 0 10px;
    width: 110px;
    height: auto;
    border: 0 !important;
    box-shadow: 0 0 5px #ebebeb;
    -webkit-box-shadow: 0 0 0 #ebebeb;
    -moz-box-shadow: 0 0 0 #ebebeb;
    -o-box-shadow: 0 0 0 #ebebeb;
    -ms-box-shadow: 0 0 0 #ebebeb;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
#wp-navbar-collapse ul{
    text-align: center;
    padding-left: 0;
    display: table;
    margin: 0 auto;
      padding: 15px;
}
#wp-navbar-collapse ul li{
    display: inline-block;
    padding: 0 13px;
}
main{
  padding: 0 15px;
}
.container-wrapper{
    padding: 0 15px;
    overflow: hidden;
}
.container-wrapper .content.row .content{
      background-color: #fff;
}
footer{
 padding: 15px;
}
footer a, footer p{
      color: #000;
}
.hooks{
          border-left: 5px solid;
    margin: 15px;
    background: #fff;
    padding: 5px;
}
.hooks.action-info{
      border-color: #00D29B;
}
.hooks.filter-info{
      border-color: #00a0d2;
}
.hooks h3{
      font-size: 18px;
    margin: 0;
}
.hooks p{
    margin: 0;
}

.hover_border{
      border: 2px dotted transparent;
      cursor: help;
}
.hover_border:hover{
      border: 2px dotted #21769d;
}
      
