<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="{{ site.title | default: site.github.repository_name }} : {{ site.description | default: site.github.project_tagline }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>{{ site.title | default: site.github.repository_name }}</title>
  </head>

  <body>

  <!-- HEAD -->
  <header class="top">
    <ul>
      <li class="backend">
         <a href="{{ '/backend'| relative_url}}">Switch to Dashboard</a>
      </li>
      <li class="frontend">
         <a href="{{ '/'| relative_url}}">Switch to Frontend</a>
      </li>
    </ul>
   
   
    </header>
  <div class="hover_border head" data-toggle="modal" data-target="#modal_head">
  </div>
  <!-- Modal -->
  <div id="modal_head" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content hooks action-info">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Action to add content to the head</h3>
        </div>
        <div class="modal-body">
            <p><a href="http://hookr.io/4.6.1/actions/wp_head/">add_action( 'wp_head', 'action_wp_head', 10, 0 );</a></p>
            <p><a href="http://hookr.io/4.6.1/actions/wp_head/">remove_action( 'wp_head', 'action_wp_head', 10, 0 );</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 
  <!-- HEADER -->
  <header class="banner navbar navbar-default-basic col-md-12" role="banner">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle hidden-lg-up" data-toggle="collapse"
                        data-target="#wp-navbar-collapse" id="mobile-check">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="{{ '/'| relative_url}}">
                   <img src="{{ '/assets/images/wp_visual_guide_logo.png'| relative_url}}" alt="logo WordPress Visual Guide" id="logo">
                </a>
            </div>
            <!-- Trigger the modal on click -->
            <div class="collapse navbar-collapse in" id="wp-navbar-collapse">
                <ul class="hover_border" data-toggle="modal" data-target="#modal_nav">
                  <li>
                    <a href="{{ '/'| relative_url}}">Frontpage</a>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Post <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                       <li>
                        <a href="{{ '/single'| relative_url}}">Single page</a>
                      </li>
                      <li>
                        <a href="{{ '/archive'| relative_url}}">Archive page</a>
                      </li>
                    </ul>
                  </li>
                   <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Custom Post Type <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                          <a href="{{ '/single_custom_post_type'| relative_url}}">Single Custom Post Type</a>
                        </li>
                        <li>
                          <a href="{{ '/archive_custom_post_type'| relative_url}}">Archive Custom Post Type</a>
                        </li>
                    </ul>
                  </li>
                  <li>
                    <a href="{{ '/events'| relative_url}}">Events page</a>
                  </li>
                </ul>
            </div>
          

<!-- Modal -->
<div id="modal_nav" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content hooks filter-info">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title">Filter to change wp_nav_menu()</h3>
      </div>
      <div class="modal-body">
          <p><a href="http://hookr.io/filters/wp_nav_menu_items/">add_filter('wp_nav_menu_items', 'filter_wp_nav_menu_items', 10, 2);</a></p>
          <p><a href="http://hookr.io/filters/wp_nav_menu_items/">remove_filter( 'wp_nav_menu_items', 'filter_wp_nav_menu_items', 10, 2 ); </a></p>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        </div>
    </nav>
   
     <nav class="breadcrumb">
            <span class="echoed">
              You are here:
            </span>
            <span class="echoed">
              Home
            </span>
     </nav>
</header>


    <!-- MAIN CONTENT -->
    <div class="wrap container-wrapper" role="document">
      <div class="content row">
        <main class="main">
          <div class="content col-md-12">
           {{content}}
          </div>
        </main>
      </div>
 </div>

    <!-- FOOTER  -->
<footer class="content-info">
    <div class="row">
      <div class="col-md-10 col-md-offset-1"><p>Last Update: {{ page.last_modified_at | date: '%Y:%B:%A:%d:%S:%R' }} - maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p></div>
    </div>
</footer>
    
      <!-- FOOTER -->
  <div class="hover_border footer" data-toggle="modal" data-target="#modal_footer">
  </div>
  <!-- Modal -->
  <div id="modal_footer" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content hooks action-info">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title">Add data before the closing body tag</h3>
        </div>
        <div class="modal-body">
            <p><a href="http://hookr.io/4.6.1/actions/wp_footer/">add_action( 'wp_footer', 'action_wp_footer', 10, 0 );</a></p>
            <p><a href="http://hookr.io/4.6.1/actions/wp_footer/">remove_action( 'wp_footer', 'action_wp_footer', 10, 0 );</a></p>        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
